.copyright__logo,
.copyright__text,
.copyright__link {
  display: inline-block;
  vertical-align: middle;
}

.copyright__text,
.copyright__link {
<<<<<<< Updated upstream
  margin: 0 3px;
  color: @black;
=======
  margin: 0 2px;
}

.copyright__link {
  .link-main();
>>>>>>> Stashed changes
}

.copyright__logo {
  fill: @black;

  &:active {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    fill: @main-color;
  }
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin: 0 7px;
  }

  .copyright__link {
    margin: 0 0;
  }
}
