.form-textarea {
  padding: 0;
  margin: 0;
}

.form-textarea__input {
  outline: none;
  width: 100%;
  height: 160px;
  background-color: @silver;
  border: 4px @silver solid;
  color: @black;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 10px 8px 10px 16px;

  &:hover {
    background-color: @main-color-disable;
    border: 4px @main-color-disable solid;
  }

  &:active,
  &:focus {
    background-color: @white;
    border: 4px @main-color-disable solid;
  }
}

@media (min-width: @tablet-width) {
  .form-textarea__input {
    padding-top: 14px;
    margin-bottom: 19px;
  }
}
