@radio-size: 56px;
@radio-margin-left: 77px;

.form-radio {
  text-transform: none;
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
  text-align: left;
  margin: 0 0 13px;
  padding: 15px 0;
}

.form-radio__label {
  display: block;
  position: relative;
  margin: 0;
  margin-left: @radio-margin-left;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: @radio-size;
    height: @radio-size;
    background-color: @silver;
    border-radius: 50%;
    left: -@radio-margin-left;
    top: 52%;
    transform: translateY(-50%);
  }

  &:hover::before {
    background-color: @main-color-disable;
  }

  &:active::before {
    background-color: #d5d5d5;
  }
}

.form-radio__input:focus ~ .form-radio__label::before {
  background-color: @main-color-disable;
}

.form-radio__input:checked ~ .form-radio__label::after {
  content: "";
  display: block;
  position: absolute;
  width: @radio-size*0.36;
  height: @radio-size*0.36;
  left: -@radio-margin-left + @radio-size/2 - @radio-size*0.36/2;
  border-radius: 50%;
  background-color: @dark-gray;
  top: 52%;
  transform: translateY(-50%);
  z-index: 9;
}

.form-radio__input:checked ~ .form-radio__label:active::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .form-radio {
    margin: 0 0 22px;
  }
}
