.item {
  background-color: @white;
  position: relative;

  &--theme-main {
    background-color: @main-color;
    color: @white;
  }

  &--theme-gray {
    background-color: @light-gray;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: black;
      opacity: 0.1;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.item__wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 25px;
  margin: auto;
}

.item__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;

  &--num {
    position: relative;
    padding: 0 0 47px;
  }

  &--num::after {
    counter-increment: num;
    content: " \2013   \2116"counter(num) "  \2013";
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
  }

  &--icon {
    padding: 30px 0 17px;
  }
}

.item__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 19px;
  fill: @main-color;
}

.item__desc {
  margin: 0;
  line-height: 21px;
}

.item__img {
  padding: 40px 0 0;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .item__wrap {
    flex: 1 1 auto;
    width: calc(100% / 3);
    padding: 30px 5.5%;
  }

  .item__img {
    padding: 0;
    flex: 1 1 auto;
    width: calc(100% / 3 * 2);
  }

  .item__heading {
    font-size: 21px;
    line-height: 26px;

    &--num {
      padding: 0 15px 52px;

      &::after {
        bottom: 18px;
      }
    }

    &--icon {
      padding: 159px 0 22px;
    }
  }

  .item__icon {
    left: 50%;
    top: 57px;
    height: 77px;
    width: 77px;
    background-size: contain;
    transform: translateX(-50%);
  }

  .item--theme-main:nth-child(even) .item__img {
    order: -1;
  }

  .item--theme-gray {
    &::after {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .item__wrap {
    padding: 30px 5.1%;
  }

  .item__heading--num {
    padding: 0 62px 52px;
  }

  .item__img {
    flex-basis: auto;
    width: 800px;
    height: 256px;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
