.page-main__banner-box {
  height: 158px;
  margin: 0 auto 36px;
  padding-top: 52px;
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 389px;
  background-attachment: scroll;
}

.page-main__banner-box--first {
  height: 389px;
  padding-top: 90px;
  background-position: 50% 50%;
  background-size: auto 389px;
}

.page-main__banner-img {
  width: 282px;
  height: auto;
}

.page-main__banner-box::before {
  content: "";
  display: block;
  position: absolute;
  height: 57px;
  bottom: 0;
  width: 100%;
  background-image: url("../img/bg-intro-triangle-desktop.svg");
  background-position: center;
  background-size: auto 57px;
  background-repeat: no-repeat;
}

.page-main__title {
  display: block;
  color: @black;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 27px;
}

.page-main__text {
  padding: 0 20px 0;
  line-height: 24px;
}

.page-main__presentation {
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .page-main__banner-box {
    height: 290px;
    padding-top: 97px;
    margin-bottom: 75px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto 518px;
  }

  .page-main__banner-box--first {
    min-height: 518px;
    padding-top: 77px;
    background-size: auto 518px;
  }

  .page-main__banner-img {
    width: 460px;
    height: auto;
  }

  .page-main__title {
    font-size: 30px;
    padding: 0 160px 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__banner-box {
    height: 301px;
    padding-top: 97px;
    margin-bottom: 112px;
  }

  .page-main__text {
    padding: 0 373px 0;
    line-height: 24px;
  }
}
