.post__img {
  width: 100%;
  display: block;
}

.post {
  border-bottom: 1px @gray solid;

  &:first-child {
    border-top: 1px @gray solid;
  }
}

.post__frame {
  margin: 0;
}

.post__desc {
  text-align: left;
  position: relative;
}

.post__author {
  text-transform: none;
  font-style: normal;
  margin: 0;
  padding: 0;

  cite {
    font-style: normal;
  }
}

.post__wrapper {
  padding: 15px 0 8px;
}

.post__title {
  color: @black;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding: 0 0 3px;
}

.post__likes-count {
  vertical-align: 2px;
  padding-left: 6px;
}

.post__like-icon {
  fill: @black;
  fill-opacity: 0.3;
}

.post__like-btn {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 700;
  line-height: 22px;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }

  &:hover .post__like-icon,
  &:focus .post__like-icon {
    fill-opacity: 1;
  }

  &:active .post__like-icon {
    fill-opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .post {
    border: none;
  }

  .post__desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: @silver;
    padding: 16px 31px 19px 20px;
  }

  .post__wrapper {
    padding: 0;
  }

  .post__like-btn {
    flex-shrink: 0;
    padding-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .post__frame {
    position: relative;
  }

  .post__desc {
    width: 100%;
    max-height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px 26px 19px 20px;
    color: @white;
    bottom: 0;
  }

  .post__title,
  .post__author-link,
  .post__like-btn {
    color: @white;
    opacity: 1;
  }

  .post__like-icon {
    fill: @white;
    fill-opacity: 1;
  }

  .post__like-btn {
    &:hover .post__like-icon,
    &:focus .post__like-icon {
      fill-opacity: 0.6;
    }

    &:active .post__like-icon {
      fill-opacity: 0.3;
    }
  }
}
