.presentation__title {
  min-height: 106px;
  padding: 0 30px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  position: relative;
}

.presentation__intro {
  position: relative;
  padding: 0 30px;
  line-height: 26px;
  min-height: 93px;
}

.presentation__intro::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 26px;
  bottom: 0;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .presentation__intro {
    min-height: 74px;

    &::after {
      display: none;
    }
  }

  .presentation__title {
    min-height: auto;
    font-size: 21px;
    padding: 0 18% 30px;
  }
}
